.banner{
	background-image: url(../../images/background3.jpeg);
	padding:150px 16px;
	background-size:cover;
	background-position:center;
	text-justify:left;
}

.banner h1{
	color:white;
	font-size:50px;
}

.banner h2{
	color:#FFFFFF;
	font-size:30px;
	font-weight: solid;
	opacity: 0.8;
	margin-bottom:40px;
}